body {
    margin: 0;
    text-align: center;
    background-color: #cce6ff;
    border-radius: 25px;
}

#container {
    width: 810px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.forms {
    width: 900px;
    height: 400px;
    float: left;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border: 1px gray solid;
    margin-top: 50px;
    padding-top: 50px;
    background-color: #f0ebeb;
}

.forms h5 {
    width: 100px;
    margin: 13px;
    float: left;
}

.titles {
    display: inline-block;
    width: 120px;
    height: 200px;
    float: left;
    margin-left: 75px;
}

.inputs {
    display: inline-block;
    width: 140px;
    height: 140px;
    float: left;
}

.inputs textarea {
    margin: 11px;
}

.inputs input {
    margin: 11px;
}

.titles input {
    width: 100px;
    margin: 0;
    float: right;
    margin-top: 10px;
}

#attach {
    margin-top: 132px;
}