body {
    margin: 0;
    text-align: center;
    background-color: #cce6ff;
    border-radius: 25px;

}

form {
    clear: right;
}

#data {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
}

#data img {
    width: 80px;
    height: 80px;
}

#data h4 {
    display: inline-block;
}

#data button {
    width: 15%;
}
